*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $root-font-size + px;
  line-height: 1;
  color: $font-color;
  font-family: $font-family;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;

  font-weight: normal;
  min-width: 320px;

  background-color: $background-main;
  @include font_smoothing;
}

.main {
  flex: 1;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

:link {
  color: inherit;
}

:visited {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

.hidden {
  display: none;
}

.icon {
  display: inline-block;
}

///////////////////////////Wordpress

.alignright {
  display: block;
	margin-left: auto;
	margin-right: auto;
  
  @include min(800px){
    float: right;
    margin: 0 0 30px 30px;
  }
}
.alignleft {
  display: block;
	margin-left: auto;
	margin-right: auto;
  
  @include min(800px){
    float: left;
    margin: 0 30px 30px 0;
  }
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
