//==========COLORS==========//
$background-main: #fff;

$theme-color: #024c79;

$facebook: #3B5998;
$google-plus: #DD4B39;
$linkedin: #007AB9;
$twitter: #007AB9;

$accent: #ffbe00;

$error: red;
$error-light:#ffecec;


//==========FONT==========//
$sans-serif: 'Roboto', sans-serif;
// $sans-serif2: 'Roboto Condensed', sans-serif;
$root-font-size: 15;
$font-color: #1d1d1d;
$font-family: 'Roboto', 'Helvetica', 'Calibri', sans-serif;
