.entry{

}

.entry__content{
  @include cf;
}

.entry__figure{
  margin: 0 0 30px;

  @include min(992){
    float: left;
    max-width: 500px; 
    margin-right: 30px;
  }
}

.entry__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.entry__text{

}

.entry__title{

}

.entry__info{

}

.entry__date{

}

