<!-- social -->
<div class="social">
  <ul class="social__list">
    <li class="social__item">
      <a href="#" class="social__link social__link--linkedin" target="_blank">
        <span class="icon">
          <svg width="38" height="38">
            <use xlink:href="#linkedin-circle"></use>
          </svg>
        </span>
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link social__link--google-plus" target="_blank">
        <span class="icon">
          <svg width="38" height="38">
            <use xlink:href="#google-plus-circle"></use>
          </svg>
        </span>
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link social__link--twitter" target="_blank">
        <span class="icon">
          <svg width="38" height="38">
            <use xlink:href="#twitter-circle"></use>
          </svg>
        </span>
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link social__link--facebook" target="_blank">
        <span class="icon">
          <svg width="38" height="38">
            <use xlink:href="#facebook-circle"></use>
          </svg>
        </span>
      </a>
    </li>
  </ul>
</div>
<!-- social end -->
