*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $root-font-size + px;
  color: $font-color;
  font-family: $font-family;
}

body {
  height: 100%;
  margin: 0;
  min-width: 320px;

  background-color: #fff;
  @include font_smoothing;
}

.main {
  flex: 1;
}


///////////////////////////Wordpress
