@import "../utils/_mixins.scss";
$gutter: 20px;

.container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px + $gutter;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}
.row{
  position: relative;
  margin-left: $gutter/-2;
  margin-right: $gutter/-2;
}
.col{
  display: flex;
  flex-direction: column;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}
