@import "../utils/_mixins.scss";

.header{

}
.lang{
  margin-left: 30px;
  align-self: center;

  ul{
    @extend %list-reset;
    position: relative;
    width: 50px;
    // font-family: $sansSerif2;

    &:hover{
      li:not(.active){
        display: block;
      }
      li.active:after{
        transform: scaleY(-1);
      }
    }
  }
  li{
    height: 29px;
    width: 100%;
    font-size: 17px;
    background-color: rgba(#000, 0.4);
    text-transform: uppercase;
    color: #fff;
    line-height: 29px;
    transition: all 0.3s;

    &:hover{
      background: rgba(#000, 0.7);
    }

    &.active:after{
      content: '';
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -4px;
      pointer-events: none;
      @include triangle('bottom', 12px, 8px, #5e5e5e);
      transition: transform 0.2s;
    }
    a,span{
      padding: 0 7px;
      display: block;
      height: 29px;
      width: 100%;
    }
    &:not(.active){
      position: absolute;
      top: 100%;
      z-index: 10;
      display: none;
    }
  }
}
