.social{

}

.social__list{
  @extend %list-reset;
  @extend %flex;
}

.social__item{
  &:not(:first-child){
    margin-left: 5px;
  }
}

.social__link{
  display: block;

  &--linkedin{
    color: $linkedin;

    &:hover{
      color: darken( $linkedin, 5%);
    }
  }

  &--google-plus{
    color: $google-plus;

    &:hover{
      color: darken($google-plus, 5%);
    }
  }

  &--twitter{
    color: $twitter;

    &:hover{
      color: darken($twitter, 5%);
    }
  }

  &--facebook{
    color: $facebook;

    &:hover{
      color: darken($facebook, 5%);
    }
  }

  &--footer{
    color: #686868;

    &:hover{
      color: darken(#686868, 5%);
    }
  }
}
